scikit-learn
rank-bm25
numpy
scipy
sentence-transformers
gensim
torch
torchvision
transformers
datasets
pillow
mteb
ipykernel
nltk
pyyaml
langchain_google_genai
langchain-openai
langchain-groq
langchain-openrouter
langchain-huggingface
langchain-anthropic
langchain-ollama
langchain
langchain-community
pypdf 
python-docx 
pandas 
openpyxl 
beautifulsoup4
docx2txt 
jq 
unstructured
docling 
langchain-docling
tabulate
langchain_chroma
pinecone
langchain_pinecone
langchain_qdrant
langgraph-checkpoint-postgres 
"psycopg[binary,pool]"
pydantic
